<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>setFlag</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>web.filter.HeaderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login_getAvatorServlet</display-name>
    <servlet-name>Login_getAvatorServlet</servlet-name>
    <servlet-class>web.servlet.Login_getAvatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_getAvatorServlet</servlet-name>
    <url-pattern>/login/getAvator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Regist_IsNameExistentServlet</display-name>
    <servlet-name>Regist_IsNameExistentServlet</servlet-name>
    <servlet-class>web.servlet.Regist_IsNameExistentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regist_IsNameExistentServlet</servlet-name>
    <url-pattern>/register/validate_username</url-pattern>
  </servlet-mapping>
</web-app>