<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>curd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindAllServlet</display-name>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductByIdServlet</display-name>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <servlet-class>servlet.GetProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductByIdServlet</servlet-name>
    <url-pattern>/getProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductByIdServlet</display-name>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <servlet-class>servlet.DeleteProductByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductByIdServlet</servlet-name>
    <url-pattern>/deleteProductById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCheckedProductServlet</display-name>
    <servlet-name>DelCheckedProductServlet</servlet-name>
    <servlet-class>servlet.DelCheckedProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCheckedProductServlet</servlet-name>
    <url-pattern>/delCheckedProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindProductByConditionServlet</display-name>
    <servlet-name>FindProductByConditionServlet</servlet-name>
    <servlet-class>servlet.FindProductByConditionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindProductByConditionServlet</servlet-name>
    <url-pattern>/findProductByCondition</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductByPageServlet</display-name>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <servlet-class>servlet.ShowProductByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductByPageServlet</servlet-name>
    <url-pattern>/showProductByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpLoadServlet</display-name>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <servlet-class>servlet.FileUpLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpLoadServlet</servlet-name>
    <url-pattern>/fileUpLoad</url-pattern>
  </servlet-mapping>
</web-app>