.login {
    width: calc(100vw);
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/reg_bg.png");
    background-size: cover;
    background-color: #b8e5f8;
    .login-form {
        min-width: 40%;
        background-color: #fff; 
        padding: 100px 20px 40px;
        box-shadow: 0 1px 3px rgba(26,26,26,.1);
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}