.home {
    .setflag {
        border: 1px solid #ebedf0;
        background-color: #fff;
        padding-bottom: 40px;
        box-sizing: border-box;
        padding: 70px 25px 40px;
        position: relative;
        display: flex;
        .setflag-left {
            flex: 3;
            .setflag-flag {
                flex: 1;
                box-sizing: border-box;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                > div {
                    margin-top: 15px;
                }
            }
            .another {
                text-align: right;
                margin-right: 40px; 
                font-size: 16px;
                color: #000;
                margin-bottom: 10px;
                > div {
                    display: inline-block;
                    cursor: pointer;
                    span {
                        margin-left: 10px;
                    }
                }
    
            }
            .setflag-add {
                margin-top: 40px;
            }
        }
        .setflag-right {
            flex: 2;
            h3 {
                font-size: 22px;
                text-align: center;
            }
            .setflag-task-progress {
                margin-top: 15px;
                width: 90%;
                margin-left: 25px;
            }
            .setflag-task {
                box-sizing: border-box;
                padding: 15px 30px;
                max-height: 600px;
                overflow: auto;
                .setflag-task-title {
                    margin-top: 25px;
                    width: 100%;
                    transform: scale(0.95);
                    .task-header {
                        display: flex;
                        align-items: center;
                    }
                    .task-main {
                        display: flex;
                        align-items: center;
                        margin-top: 15px;
                        span {
                            line-height: 20px;
                            font-size: 15px;
                        }
                        .setflag-task-btn {
                            transition: all 0.3s linear;
                            background-color: #52c41a;
                            border-color: #52c41a;                        
                        }
                    }

                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                    background: rgba(0,0,0,0.2);
                }
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                    border-radius: 0;
                    background: rgba(0,0,0,0.1);
                }
            }
        }
    }
}

